:root {
    --brand-font: 'Press Start 2P', cursive;
    --body-font: 'Quicksand', sans-serif;
    --body-regular: 400;
    --body-bold: 600;
    --primary-color: #173248;
    --secondary-color: #67AFEB;
    --third-color: #1D69A8;
    --fourth-color: #EDFFEC;
    --fifth-color: #E2C044;
}

.debug {
    border: 1px solid red;
}

.font-bold {
    font-family: var(--body-font);
    font-weight: var(--body-bold);
}
.link-secondary-color {
    color: var(--secondary-color);
}

.link-secondary-color:hover {
    color: var(--fifth-color);
}

a {
    text-decoration: none;
}

body {
    background: var(--primary-color);
    color: white;
    font-size: 16px;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.primary {
    background: var(--primary-color);
}

.brand-title {
    font-family: 'Press Start 2P', cursive;
    text-transform: lowercase;
    font-size: 1em;
    margin: 0;
}


/* Nav styles */
.nav {
    padding: 2em 0;
    color: white;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
}

.nav a {
    color: white;
    font-family: var(--body-font);
    border-bottom: 1px solid transparent;
}

.nav a:hover {
    color: var(--secondary-color);
    border-bottom: 1px solid;
    border-color: var(--fifth-color);
}

.center-menu {
    display: flex;
    justify-content: space-between;
}

.right-menu {
    display: flex;
    justify-content: center;
    justify-self: right;
}
/*Profile picture*/
.profile {
    display: grid;
    padding: 5px 15px;
    grid-template-columns: repeat(2, 1fr);
}
.profile-picture {
    width: 400px;
    justify-self: center;
    border-radius: 100%;
    overflow: hidden;
}

.profile-picture img {
    width: 100%;
    opacity: .5;
    transition: ease 1s;
}
.profile-picture:hover img {
    opacity: 1;
}

.profile-description {
    align-self: center;
    font-family: var(--body-font);
}

.profile-description h1, h2 {
    line-height: 0;
}

